# Data Science Tools and Ecosystem
**In this notebook Data Science Tools and Ecosystem are summarized**

## Objectives

After completing this lab, you will be able to:
* Identify in which Kernel your Jupyter notebook is running
* Create headings, and add text in bold and italics in Markdown
* Insert links and images using Markdown
* Create Tables in Markdown
* Create ordered and unordered lists in Markdown
* Demonstrate your proficiency in using Markdown in Jupyter Notebooks

### Some of popular languages that Data Scientists use are :

1. Python
2. Java
3. C++
4. C

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

## Execute as a markdown cell

| Data Science Tools |
| ------------- |
| RStudio |
| GitHub |
| Jupyter  |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python.

total_price = item_price*(1+tax_rate/100)

17 % 3

2 ** 3

25//4

In [2]:
## This a simple arithmetic expression to mutiply then add integer

(3*4)+5

17

In [4]:
##  This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author Neftali Ramirez Chavez